@import '../scss/responsivity';

.insta-outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media #{$media-phone} {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  a {
    display: block;
    width: 30%;
    margin-right: 4.5%;
    margin-bottom: 4.5%;
    @media #{$media-phone} {
      width: 80%;
      margin-right: 0 !important;
    }
    &:hover {
      transform: scale(1.1);
    }

    &:nth-child(3), &:nth-child(6), &:nth-child(9) {
      margin-right: 0 !important;
    }
  }
  img {
    width: 100%;
    display: block;
  }
}
