@import '../scss/responsivity';

.subscribe {

  background-image: url('../../public/assets/ty-subscribe-free-pass-600x154.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 154px;
  
  @media #{$smaller-than-banners} {
    background-image: url('../../public/assets/ty-subscribe-free-pass-300x77.png');
    width: 300px;
    height: 77px;
  }

  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}