$stage-width: 1140px;
$padding: 24px;

$color-pink: #ff006a;

body {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    // https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units/
  font-size: calc(1.3rem + 3.6vw);
}

.stage {
  //text-align: center;
}

.hero {
  min-height: 100px;
  background-color: #333; 
}

