$stage-width: 1140px;
$padding: 24px;

$color-pink: #ff006a;

body {
  * {
    margin: 0;
    padding: 0;
  }
}

.stage {
  //text-align: center;
}

.hero {
  min-height: 100px;
  background-color: #333; 
}

