.hero {
  min-height: 800px;
  height: 100vh;
  // background-image: (url('../../public/assets/artists/main-hero.png'));
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: right top;

  display: flex;
  flex-direction: column;
  align-items: center;

  .hero-slider {
    width: 100%;
    min-height: 800px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    * {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 100% 50%;

      @media #{$smaller-than-ideal-stage} {
        background-position: 90% 50%;
      }
    }
  }

  main {
    max-width: $stage-width;
    padding-bottom: $padding * 1.5;
    padding-top: $padding * 2;
    height: 100%;

    @media #{$smaller-than-banners} {
      padding: $padding * 0.5;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    img {
      display: block;

    }
    img.logo {
      width: 735px;
      // height: 276px;
      max-width: 40vw;

      @media #{$smaller-than-banners} {
        width: 80vw;
        max-width: 80vw;
        height: auto;
      }
    }
    img.subscribe {
      width: 733px;
      max-width: 40vw;
      // height: 188px;
      @media #{$smaller-than-banners} {
        width: 80vw;
        max-width: 80vw;
        height: auto;
      }
    }
  }

  .content-outer {
    text-transform: uppercase;
  }

  .buttons {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    @media #{$smaller-than-banners} {
      display: block;
      max-width: 80vw;
      margin-left: auto;
      margin-right: auto;
    }

    a {
      display: block;

      img {
        max-width: 100%;
        padding: 8px;
      }
    }
  }

  .copy-outer {
    margin-top: $padding;

    p {
      font-weight: bold;
      color: $color-pink;

      &.line-1 {
        font-size: 2rem;
        @media #{$smaller-than-banners} {
          font-size: 1.3rem;
        }
      }
      &.line-2 {
        @include fontSizeOfHeading(1);
        @media #{$smaller-than-banners} {
          font-size: 2.5rem;
        }
      }
      &.line-3 {
        @include fontSizeOfHeading(3);
        @media #{$smaller-than-banners} {
          font-size: 1.2rem;
        }
        color: white;
      }
    }
  }
}

