.hero {

  height: 1000px;
  background-image: (url('../../public/assets/artists/main-hero.png'));
  background-repeat: no-repeat;
  background-size: cover;

  @media #{$smaller-than-ideal-stage} {
    height: 100vh;
    background-image: (url('../../public/assets/artists/main-hero-mobile-480x1100.png'));
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    height: 100px;
    @media #{smaller-than-ideal-stage} {
      display: none;
    }
  }

  main {
    max-width: $stage-width;
    padding-bottom: $padding * 1.5;
    height: 100%;

    @media #{$smaller-than-banners} {
      padding: $padding * 0.5;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    img {
      display: block;

    }
    img.logo {
      width: 735px;
      height: 276px;
      @media #{$smaller-than-banners} {
        width: 80vw;
        height: auto;
      }    
    }
    img.subscribe {
      width: 733px;
      height: 188px;
      @media #{$smaller-than-banners} {
        width: 80vw;
        height: auto;
      }    
    }
  }

  .content-outer {
    text-transform: uppercase;
  }

  .copy-outer {
    margin-top: $padding;

    p {
      font-weight: bold;
      color: $color-pink;
      
      &.line-1 {
        font-size: 2rem;
        @media #{$smaller-than-banners} {
          font-size: 1.3rem;
        }
      }
      &.line-2 {
        @include fontSizeOfHeading(1);
        @media #{$smaller-than-banners} {
          font-size: 2.5rem;
        }
      }
      &.line-3 {
        @include fontSizeOfHeading(3);
        @media #{$smaller-than-banners} {
          font-size: 1.2rem;
        }
        color: white;
      }
    }
  }
}

