.instafeed {

  padding: $padding * 2 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #00003c;

  h2 {
    color: white;
    @include fontSizeOfHeading(2);
    text-transform: uppercase;
    margin-bottom: $padding;
  }

  img {
    display: block;


    &.subscribe {
      width: 733px;
      height: 188px;
      margin-top: $padding;
      @media #{$smaller-than-banners} {
        width: 80vw;
        height: auto;
      }
    }

      /*
    &.insta {
      width: 1109px;
      height: 1068px;
      margin-top: $padding * 2;
      margin-bottom: $padding * 2;
      @media #{$smaller-than-ideal-stage} {
        width: 80vw;
        height: auto;
        margin-top: $padding;
        margin-bottom: $padding;
        }
    }
    */
  }
  
}