.jay-pharoah {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #000;
  color: #fff;

  padding: $padding * 2;

  img {
    display: block;
    margin-right: $padding * 1.5;
    width: 589px;
    height: 677px;
    margin-bottom: $padding;
    @media #{$smaller-than-banners} {
      width: 295px;
      height: 339px;
    }    
  }

  .copy-outer {

    @media #{$media-phone} {
      width: auto;
    }    
  
    h3 {
      text-transform: uppercase;
      color: $color-pink;
      @include fontSizeOfHeading(3);
      text-align: center;
    }
    h2 {
      font-style: italic;
      text-transform: uppercase;
      @include fontSizeOfHeading(2);
      text-align: center;
      margin-bottom: $padding * 2;
      @media #{$media-phone} {
        margin-bottom: $padding;
      }    
    }
  }
}