.sign-up {

  background-color: $color-pink;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media #{$smaller-than-ideal-stage} {
    flex-direction: column;
  }    

  padding: $padding;

  .sign-up-stage {
    width: $stage-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media #{$smaller-than-ideal-stage} {
      width: auto;
      flex-direction: column;
      align-items: center;
    }    
  }

  .form-outer {
    h2 {
      text-transform: uppercase;
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: $padding;

      .field-outer {
        margin-bottom: 12px;
          input {
            padding: 8px 8px;
            border-radius: 3px;
            border: 1px solid #8842d5;
            border-radius: 5px;  
            font-size: 18px;
            width: 100%;
            @media #{$smaller-than-ideal-stage} {
              width: 500px;
            }    
            @media #{$media-phone} {
              width: 100%;
            }    
        
          }
          p {
            text-align: left;
          }
        }

      button {
        background-color: #087ee0;
        color: #fff;
        cursor: pointer;
        overflow: hidden;
        outline:none;

        width: 160px;
        padding: 8px 8px;
        border-radius: 3px;
        border: 1px solid black; 
        border-radius: 5px;  
        font-size: 18px;
        &:hover {
          background-color: #77b4e6;
        }
        @media #{$smaller-than-ideal-stage} {
          align-self: center;
          margin-bottom: $padding;
        }
      }
    }
  }

  .logos-outer {
    display: flex;
    flex-direction: row;
    @media #{$smaller-than-banners} {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }    

  }

  .logo-card {
    &:first-child {
      margin-right: $padding * 1.5;
      @media #{$smaller-than-banners} {
        margin-right: 0;
      }
    }

    h3 {
      color: #fff;
      @include fontSizeOfHeading(3);
      text-transform: uppercase;
      text-align: left;
    }

    &.logo-card-com-plex {
      @media #{$smaller-than-banners} {
        padding-left: 30px;
      }
    }
  }

}